<app-header></app-header>

<h1 style="font-weight: bold;">Quick Guides</h1>
<h2 style="font-weight: bold">Do you want to predict Black Pepper leaves diseases?</h2>
<h3>Click prediction tab and then choose file option, click on the image</h3>
<img class="f1"src="/assets/images/help/a1.png" alt="Trulli" width="450" height="300">
<img class="f1"src="/assets/images/help/a2.png" alt="Trulli" width="450" height="300">

<h3>If You want to cancel the input ,click cancel button </h3>
<img class="f1"src="/assets/images/help/a3.png" alt="Trulli" width="450" height="300">

<h3>To predict the output, click on predict button</h3>
<img class="f1"src="/assets/images/help/a4.png" alt="Trulli" width="450" height="300">

<h3>Then you will get the result (Black Pepper leave disease)</h3>
<h3>If You want more details of the disease, go for  'More details' option
  It will go direct you to diseases page</h3>
<img class="f1" src="/assets/images/help/a5.png" alt="Trulli" width="450" height="300">

<h2 style="font-weight: bold">Do you want to Know about diseases?</h2>

<h3>If You want to know about details of diseases , Click images</h3>
<img class="f1" src="/assets/images/help/a6.png" alt="Trulli" width="450" height="300">
<app-footer></app-footer>
