.web{
  display: flex;
  font-size: 16px;
}
.ul1{
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
}

.para{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.7;
}

.tel{
  width: 20px;
}

.contact{
  font-size: 16px;
}

.email{
  display: flex;
}
.upload{
  padding-bottom: 20px;
  padding-top: 20px;
}
