<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <p class="fs-18">PepperGuard</p>
          <p class="fs-18">Change Password</p>
        </div>
        <form class="login" [formGroup]="changePasswordForm" (ngSubmit)="changePassword();">
          <div class="mb-3">
            <label for="cs_password" class="form-label">Password<span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="cs_password" formControlName="cs_password"
                   [ngClass]="{'is-invalid': submit && f2['cs_password'].errors}"/>
            <div *ngIf="submit && f2['cs_password'].errors" class="invalid-feedback">
              <span *ngIf="f2['cs_password'].errors['required']">Password is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="cs_conform_password" class="form-label">Confirm Password<span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="cs_conform_password" formControlName="cs_conform_password"
                   [ngClass]="{'is-invalid': submit && f2['cs_conform_password'].errors}"/>
            <div *ngIf="submit && f2['cs_conform_password'].errors" class="invalid-feedback">
              <span *ngIf="f2['cs_conform_password'].errors['required']">Confirm password is required.</span>
            </div>
          </div>
          <div class="pt-4">
            <!-- ✅ button type එක submit වලට මාරු කරන්න, (click) ඉවත් කරන්න, disabled condition එක වෙනස් කරන්න -->
            <button type="submit" class="btn btn-light c" [disabled]="submitSpinner">
              <span *ngIf="submitSpinner" class="spinner-border spinner-border-sm me-1"></span>
              Reset Password
            </button>
          </div>
        </form>
        <div align="right">
          <a href="" class="text" routerLink="/login">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>