<app-header></app-header>

<div class="title">
  <h1>Introduction</h1>
</div>

<!--<div class="row">
  <div class="col-12">
    <div class="video-container">
      <video width="100%" controls autoplay muted>
        <source src="'/assets/bl_v.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>  -->

<div class="row">
  <div class="col-12">
    <div class="para">
      <p>
      An infection or disease that can harm black pepper plants such as a fungal, oomycete, viral or
      insect induced condition, is known as a disease in black pepper leaves. For black pepper farmers and producers, 
      these diseases can have a serious impact on the quality and yield of the black pepper. 
      Common diseases and pests affecting black pepper leaves include Gall Thrips, Leaf Blight, Mosaic, Pollu Disease (Anthracnose),
      Powdery Mildew and Quick Wilt (Foot Rot / Phytophthora). These issues often lead to leaf curling, spotting, yellowing, 
      defoliation, stunted growth and in severe cases, complete vine collapse, resulting in significant economic losses.
      </p>
    </div>
  </div>
</div> 

<div class="topic">
  <h1 style="margin-top: 30px"><span class="display1" style="color:#323232;">Diseases</span></h1>
</div>
<div class="row image_row">
  <div class="main-col">
    <div class="col" id="img1">
      <a style="text-decoration: none" (click)="diseasesDetails(1)">
        <div class="img-col">
          <img class="img" src="assets/diseases/Algal Leaf Spots_p.jpg" id="img-three"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Powdery Mildew</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img2">
      <a style="text-decoration: none" (click)="diseasesDetails(2)">
        <div class="img-col">
          <img src="assets/diseases/Gall Thrips_p.jpg" class="img" id="img-two"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Gall Thrips</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img3">
      <a style="text-decoration: none" (click)="diseasesDetails(3)">
        <div class="img-col">
          <img src="assets/diseases/Leaf Blight_p.jpg" class="img" id="img-one"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Leaf Blight</strong></h4>
        </div>
      </a>
    </div>

  </div>
</div>

<div class="row image_row">
  <div class="main-col">
    <div class="col" id="img4">
      <a style="text-decoration: none" (click)="diseasesDetails(4)">
        <div class="img-col">
          <img src="assets/diseases/Pollu Disease_p.jpg" class="img" id="img-four"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Pollu Disease</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img5">
      <a style="text-decoration: none" (click)="diseasesDetails(5)">
        <div class="img-col">
          <img src="assets/diseases/Quick Wilt_p.jpg" class="img" id="img-five"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Quick Wilt</strong></h4>
        </div>
      </a>
    </div>

    <div class="col" id="img6">
      <a style="text-decoration: none" (click)="diseasesDetails(6)">
        <div class="img-col">
          <img src="assets/diseases/Mosaic_p.jpg" class="img" id="img-eight"
               alt="destination">
        </div>
        <div class="u-div">
          <h4 class="u-img"><strong>Mosaic</strong></h4>
        </div>
      </a>
    </div>
  </div>
</div>


      




<app-footer></app-footer>
